<!DOCTYPE html>
<html lang="en" ng-app="sentinela-stream">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sentinela Atlântica - Drones Stream</title>
  <base href="/" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="media/logo/sentinela_symbol.svg">

  <!-- All CSS files -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index/index.css">
  <link rel="stylesheet" href="css/index/navTopBar.css">
  <link rel="stylesheet" href="css/OverlayScrollbars/OverlayScrollbars.min.css">

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="javascripts/adapter.js"></script>
  <script type="text/javascript" src="javascripts/opencv-4.5.5.js"></script>
  <script type="text/javascript" src="javascripts/rtcClient.js"></script>
  <script type="text/javascript" src="js/angular/angular.min.js"></script>

     <style>
        /* CSS for the disabled state of the parent element */
        .disabled-overlay {
            position: relative;
            opacity: 0.5; /* Transparency level for the whole block */
            pointer-events: none; /* Disable interactions */
            filter: grayscale(100%); /* Optional grayscale effect */
        }

        /* CSS for the overlay text */
        .disabled-text-overlay {
            display: none; /* Hide by default */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: red !important; /* Ensure text color is red and override inherited styles */
            font-size: 24px; /* Text size */
            font-weight: bold; /* Text weight */
            background-color: rgba(255, 255, 255, 1); /* Solid background for text visibility */
            padding: 10px; /* Padding around text */
            border-radius: 5px; /* Rounded corners */
            z-index: 2; /* Ensure it is above the parent content */
            text-align: center;
            opacity: 1; /* Ensure text is not transparent */
        }

        /* Ensure the overlay text is visible when the parent is disabled */
        .disabled-overlay .disabled-text-overlay {
            display: block; /* Show the overlay text */
        }
    </style>
</head>
<body>
    <div id="loader"></div>
    <div class="topnav">
        <div class="open_sidebar">
            <div class="heading">
                <div>
                    <img id="open_hamburger" src="media/navTop/hamburger.svg" style="width: 12%; margin-bottom: -2px;">
                    &nbsp;
                    <img src="media/logo/sentinela_white_horizontal.svg" style="width: 64%;">
                </div>
            </div>
        </div>
    </div>
    <div class="demo-preview">
        <div id="message">
            <div id="inner-message" class="alert alert-custom fade in alert-dismissable show"></div>
        </div>
    </div>
    <div ng-controller="RemoteStreamsController as rtc">
        <div class="navigation">
            <div class="close_sidebar">
                <div class="heading">
                    <div>
                        <img id="close_hamburger" src="media/navTop/hamburger.svg" style="width: 12%; margin-bottom: -2px;">
                        &nbsp;
                        <img src="media/logo/sentinela_white_horizontal.svg" style="width: 64%;">
                    </div>
                </div>
            </div>
            <ul class="menu">
                <li ng-class="{'active': selectedCategories.includes('Alfa Interior')}" ng-click="toggleCategory('Alfa Interior')">
                    <a>Alfa Interior</a>
                </li>
                <li ng-class="{'active': selectedCategories.includes('Alfa Exterior')}" ng-click="toggleCategory('Alfa Exterior')">
                    <a>Alfa Exterior</a>
                </li>
                <li ng-class="{'active': selectedCategories.includes('Bravo')}" ng-click="toggleCategory('Bravo')"><a>Bravo</a></li>
                <li ng-class="{'active': selectedCategories.includes('All')}" ng-click="toggleCategory('All')"><a>All</a></li>
                <form action="/logout?_method=DELETE" method="POST">
                    <input type="image" src="media/navTop/logout.png" class="logout-icon" />
                </form>
            </ul>
        </div>
        <div id="main-wrapper" class="overflow-hidden">
            <div class="inner-banner p-40">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xxl-9 col-lg-7" id="videoPlayerColumn">
                            <div class="videoplayer">
                                <div id="video"></div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-5 mb-lg-0 mb-24" id="movieListingColumn">
                            <div class="movie-listing">
                                <div class="name-detail">
                                    <h4 class="h-24 bold mb-16 color-white">Streams</h4>
                                </div>
                                <div class="episode-list">
                                    <div data-stream-name="Alfa Interior 1" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Alfa Interior 1' && stream.isPlaying) || (stream.name === 'Alfa Interior 1' && (selectedCategories.includes('Alfa Interior') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/AlfaInt_1.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Alfa Interior 1</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div data-stream-name="Alfa Interior 2" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Alfa Interior 2' && stream.isPlaying) || (stream.name === 'Alfa Interior 2' && (selectedCategories.includes('Alfa Interior') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/AlfaInt_2.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Alfa Interior 2</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div data-stream-name="Alfa Interior 3" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Alfa Interior 3' && stream.isPlaying) || (stream.name === 'Alfa Interior 3' && (selectedCategories.includes('Alfa Interior') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/AlfaInt_3.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Alfa Interior 3</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div data-stream-name="Alfa Interior 4" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Alfa Interior 4' && stream.isPlaying) || (stream.name === 'Alfa Interior 4' && (selectedCategories.includes('Alfa Interior') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/AlfaInt_4.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Alfa Interior 4</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div data-stream-name="Alfa Exterior 1" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Alfa Exterior 1' && stream.isPlaying) || (stream.name === 'Alfa Exterior 1' && (selectedCategories.includes('Alfa Exterior') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/AlfaExt_1.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Alfa Exterior 1</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Alfa Exterior 2' && stream.isPlaying) || (stream.name === 'Alfa Exterior 2' && (selectedCategories.includes('Alfa Exterior') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/AlfaExt_2.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Alfa Exterior 2</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div data-stream-name="Alfa Exterior 3" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Alfa Exterior 3' && stream.isPlaying) || (stream.name === 'Alfa Exterior 3' && (selectedCategories.includes('Alfa Exterior') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/AlfaExt_3.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Alfa Exterior 3</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div data-stream-name="Alfa Exterior 4" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Alfa Exterior 4' && stream.isPlaying) || (stream.name === 'Alfa Exterior 4' && (selectedCategories.includes('Alfa Exterior') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/AlfaExt_4.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Alfa Exterior 4</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div data-stream-name="Bravo 1" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Bravo 1' && stream.isPlaying) || (stream.name === 'Bravo 1' && (selectedCategories.includes('Bravo') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected' : stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/Bravo_1.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Bravo 1</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                    <div data-stream-name="Bravo 2" ng-repeat="stream in rtc.remoteStreams"
                                        ng-if="(stream.name === 'Bravo 2' && stream.isPlaying) || (stream.name === 'Bravo 2' && (selectedCategories.includes('Bravo') || selectedCategories.includes('All')))">
                                        <div class="list" ng-class="{'selected': stream.isPlaying}" ng-click="rtc.view(stream)">
                                            <div class="img-block">
                                                <img src="media/cards/Bravo_2.png" alt="">
                                                <a class="cus-btn sm-light" ng-class="{'streaming': stream.isPlaying, 'online': !stream.isPlaying}">{{ stream.isPlaying ? 'Streaming' : 'Online' }}</a>
                                            </div>
                                            <div class="detail-list">
                                                <h5 class="color-white">Bravo 2</h5>
                                                <p><span class="color-white">Owner:</span> Arditi</p>
                                                <p><span class="color-white">Pilot:</span> {{ stream.pilot }} </p>
                                                <p><span class="color-white">Date:</span> {{ stream.dayDate }}</p>
                                                <p><span class="color-white">Hour:</span> {{ stream.time }}</p>
                                            </div>
                                            <div class="disabled-text-overlay">Max connections reached!</div> <!-- Overlay text element -->
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" style="margin-top:200px">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link"
                href="https://www.arditi.pt/pt/projetos-em-execucao/projeto-sentinela-atlantica.html">
                <img src="media/logo/sentinela_white_principal.png" alt="" style="width: 90px;">
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.emgfa.pt/">
                <img src="media/logo/EMGFA.png" alt="" style="width: 60px;">
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.arditi.pt/pt/">
                <img src="media/logo/arditi.png" alt="" style="width: 160px;">
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.uma.pt/">
                <img src="media/logo/UMA.png" alt="" style="width: 160px;">
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.madeira.gov.pt/">
                <img src="media/logo/GovGeral.png" alt="" style="width: 130px;">
            </a></li>
        </ul>
        <ul class="menu_footer">
            <li class="menu__item"><a class="menu__link">sentinela.atlantica@arditi.pt</a></li>
        </ul>
    </footer>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery/jquery-3.6.3.min.js"></script>
    <script src="js/index/navTopBar.js"></script>
    <script src="js/OverlayScrollbars/OverlayScrollbars.min.js"></script>
    <script src="js/index/index.js"></script>
    <script src="javascripts/app.js"></script>

    
</body>
</html>